*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clr{
    background-color: aquamarine;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(red, green, blue);
}
.clr button{
    padding: 30px 30px;
    cursor: pointer;
    
}
